.card {
    max-width: 22%;
    margin-left: 38%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .mat-stroked-button.mat-success {
    color: #f0fff3;
    height:35px;
    background-color: #007e1d;
  }

  .mat-card-image{
    height: 400px;
  }