.mat-stroked-button.mat-success {
    color: #f0fff3;
    background-color: #007e1d;
    margin-right: 7px;
    margin-top: 15px;
  }

  .mat-stroked-button.mat-warm {
    color: #000000;
    background-color: #e7e7e7;
    margin-top: 15px;
  }

  .inputField {
    margin-top: 5px;
    height:28px;
    width: 300px;
  }

  .headr{
      font-size:xx-large;
      color: #292929;
  }