/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

  .mat-toolbar.mat-primary {
    background: linear-gradient(#000000, #403f3f);
    color: #fff;
  }

  .inputField {
    margin-left: 20px;
    height:28px;
  }
  .mat-stroked-button.mat-success {
    color: #f0fff3;
    height:35px;
    background-color: #007e1d;
    margin-left: 20px;
  }

  .title{
    margin-right: 40px;
  }
  .navButtons {
    font-size: 16px;
   // margin-left: 40px;
  }

  .navButtons:hover{
    color: #02c12e;
  }
  
  .mat-icon {
    font-size: 22px;
  }